* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 800px; 
    height: 300px; 
    border: 5px solid black;
    overflow: hidden; 
}

.image-box {
    width: 250px; 
    height: 200px;
    background-image: url('../Img/foto3\,3.webp'); 
    background-size: cover;
    background-position: center;
}

.text-box {
    width: 550px; 
    padding: 20px;
    overflow-y: auto; 
   
}

