.main {
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    margin-top: 50px;
    
}

.items{
    gap: 20px;
    width: 400px;
    height: 350px;
    padding: 40px 40px;
}

.items:hover{
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}
.items .icon_area {
    padding-top: 5px;
    width: 60px;
    height: 60px;
    background-color: #227BFD ;
    text-align: center;
    font-size: 35px;
    color: white;
}
.items a {
    text-decoration: none;
}