@import"variables";




body {
    background-color: $bg-color;
    font-family: Arial, sans-serif;
}

.row{
   
}
.navbar {
    background-color: $secondary-color;

    .navbar-brand {
        font-size: 1.5rem;
    }

    .nav-link {
        color: $text-color;

        &:hover {
            color: $primary-color;
        }
    }
}
.col-lg-3{
    background-color: black;
}

.sidebar-title {
    font-size: 1.2rem;
    font-weight: bold;
}


.card {
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }

    .card-title {
        font-size: 1.1rem;
    }

    .btn-primary {
        background-color: $primary-color;
        border: none;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}

    


.footer {
    background-color: $secondary-color;
    color: $text-color;
}